<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>MyAlmanac</strong> by <a href="http://www.jeremycastillo.net">Jeremy Castillo</a>
      </p>
    </div>
  </div>
</footer>
