<header>
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a href="/" class="navbar-item">
        <img src="images/book.png" alt="Placeholder">
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <a href="#" class="navbar-item">Getting Started</a>
        <a href="#" class="navbar-item">Download</a>
        <a href="#" class="navbar-item">Blog</a>
      </div>
      <div class="navbar-end">
        <a href="#" class="navbar-item">Log In</a>
        <a href="signup" class="navbar-item">Sign Up</a>
      </div>
    </div>
  </nav>
</header>
