<section class="hero is-large is-dark">
  <img src="images/hero.jpeg" alt="MyAlmanac">
  <span class="bg-mask">
  <div class="hero-body">
      <div class="container">
        <div class="content is-large">
          <h1 class="title"><strong>MyAlmanac</strong></h1>
          <div class="subtitle">
            Make a Record of You
          </div>
        </div>
      </div>
    </span>
  </div>
</section>
