<section id="showcase" class="section">
  <div class="container">
    <article>
      <div class="columns">
        <div class="column">
          <h1 class="title">Record Your Interests</h1>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="content">
            <p>
              We all receive a unique imprint from books, movies, games, and other works of art that we experience.
            </p>
          </div>
        </div>
      </div>
    </article>
    <article>
      <div class="columns">
        <div class="column">
          <h1 class="title is-pulled-right">Connect With Others</h1>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="content">
            <p class="is-pulled-right">
              Share your experiences with others, and discover new things from people who love the things you do.
            </p>
          </div>
        </div>
      </div>
    </article>
    <article>
      <div class="columns">
        <div class="column">
          <h1 class="title">Track Your Progress</h1>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="content">
            <p>
              Create a schedule for the things you want to experience. Easily organize your reading and watching queues, and keep a wish list for the books and movies that you don&apos;t yet own.
            </p>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>
