<section class="hero is-small is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title">Sign Up For Free</h1>
          <h2 class="subtitle">Please provide a little bit of information to get started on your Almanac.</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<div class="container">
  <div class="content">
    <div class="columns">
      <div class="column">
        <section id="signup">
          <div class="container">
            <form class="form" action="signup" method="post">
              <div class="field is-grouped">
                <div class="control">
                  <label class="label">First Name</label>
                  <input class="input" type="text" name="firstName" value="">
                </div>
                <div class="control">
                <label class="label">Last Name</label>
                  <input class="input" type="text" name="lastName" value="">
                </div>
              </div>
              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                  <input class="input" type="email" name="email" value="">
                  <span class="icon is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field is-pulled-right">
                <div class="control">
                  <input type="submit" value="Sign Up" class="button is-primary">
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
